<div class="block block-fill-height block-inverse app-block-how-to">
  <div class="block-bg-clip">
    <div class="block-bg">
      <div class="block-bg-img block-bg-img-top" style="background-image: url(images/ruler.jpeg)">
      </div>
    </div>
  </div>

    <div class="block-xs-middle">
      <div class="container">
        <div class="row m-b-md">
          <div class="col-lg-5">
            <h1 class="block-title m-b-md">
              <span class="text-ribbon">
                <span>How to Geek Dinner</span>
              </span></h1>
            <p class="lead">
              <span class="text-ribbon text-muted">
                <span>Follow these simple steps to maximize the experience for everyone</span>
              </span>
            </p>
          </div>
        </div>
        <div class="row app-how-to">
          <div class="col-sm-12">
            <div class="panel">
              <div class="panel-body">
                <ul class="list m-b-md">
                  <li>Show up at the appointed hour</li>
                  <li>Reservations will be made under the name "Geek Dinner"</li>
                  <li>Bring cash to cover your expected expense, including tip. (Not every place accepts cards and we are a large party)</li>
                  <li>Come with a tech topic of interest. Spur a lively discussion!</li>
                  <li>Respect other people's ideals</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
